.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-error {
  width: 600px;
  margin: 100px auto;
}

.App .Settings {
  position: absolute;
  right: 35px;
  top: 35px;
}
