.SettingsModal .new-category-wrapper {
  display: inline;
}

.SettingsModal .new-category {
  border-style: dashed;
  background: #fff;
}

.SettingsModal .input {
  width: 105px;
}
.SettingsModal .margin-b {
  margin-bottom: 10px;
}
